/* Headers */
h1,h4 {
    font-family: 'Montserrat', sans-serif;
}

/* List Stuff */
ul.home-nav {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    padding-right: 30px;
    margin-left: -60px;
}

ul.home-nav li:hover {
    color: #6C6079;
}

ul.home-nav li.active {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    color: #6C6079;
    text-transform: uppercase;
    font-weight: bolder !important;
}

li.active-header a {
    font-weight: bolder !important;
    color: #6C6079 !important;
}

ul.home-nav li {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    font-weight: bold !important;
}

ul.home-nav .fa {
    margin-right: 15px;
}

.my-link {
    color: black;
    text-decoration: none !important;
}

.my-link:hover {
    color: 6C6079;
}

/* Front page container */
.welcome {
    padding: 5%;
}

/* Basic page CSS */
.bg {
    color: #828183;
}

.eprimary {
    color: #857490;
}

.bg-eprimary {
    background-color: #E5E5E5;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.hide {
    visibility: hidden;
}

.navbar {
    padding-top: 0.5rem !important;
    padding-bottom: 1.5rem !important;
}

.nav-link {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-right: 30% !important;
}

.nav-item {
    font-size: 24px !important;
    padding-right: 2vw;
}

.navbar-brand {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px !important;
    font-weight: 300;
    padding-right: 20%;
}

.navbar-brand:hover {
    color: #463F3a;
}

.navbar-toggler {
    color:#F4F3EE;
}

.navbar-icon {
    color: #463F3A;
}

/* FontAwesome */
.portfolio-icon {
    color:#F0F0F0;
    padding-top: 5px;
    padding-bottom: 5px
    
}
.portfolio-item p {
    color: #463F3A;
    font-size: 24;
}

i.fab {
    padding-right: 15px;
}

/* Pilling */
ul.nav-pills a.active {
    transform: scale(1.1);
    color: #828183 !important;
    background-color: #E5E5E5 !important;
}

/* Color scheme reference */
.esecondary {
    color: #463F3A;
}

.etertiary {
    color: #F4F3EE;
}

/* Gallery Things */
.my-button {
    text-align: left !important;
}
.my-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.my-button:hover {
    color: #6C6079 !important;
    transform: scale(1) !important;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* Masonry */
* { box-sizing: border-box; }å

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 400px;
  height: 450;
  float: left;
  background: #857490;
  border: 1px solid #463F3A;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.grid-item--width2 { width: 340px; }
.grid-item--width3 { width: 520px; }
.grid-item--width4 { width: 780px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

/* Scaling Stuff */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .text-large {
        font-size: 2.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .text-large {
        font-size: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .text-large {
        font-size: 3.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .text-large {
        font-size: 4rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .text-large {
        font-size: 4.5rem;
    }
}


/* Form Style */
.form-group {
    padding: 5px;
}
.form-group input {
    padding: 15px;
}
.form-group textarea {
    padding: 20px;
    height: 95%;
    width: 85%;
}

.btn-primary {
    background-color: #6C6079 !important;
    border-color: #6C6079 !important;
}
.btn:hover {
    transform: scale(1.1);
}

.gallery-product {
    text-align:center;
}
.gallery-container {
    padding-top:5%;
}

.modal-body-item {
    padding-top:5%;
}
.gallery-img {
    width: 100%;
    aspect-ratio: 1;
    
}

iframe {
    margin-bottom: 2%;
}